@import "tailwindcss";

@theme {
  --font-display: 'Playfair Display', serif;
  --font-body: 'Manrope', sans-serif;
  
  --color-gold-50: #fbf7eb;
  --color-gold-100: #f5eccd;
  --color-gold-200: #ebd89e;
  --color-gold-300: #e0bf6a;
  --color-gold-400: #d6a843;
  --color-gold-500: #cc8f2a;
  --color-gold-600: #af7020;
  --color-gold-700: #8d521c;
  --color-gold-800: #74401d;
  --color-gold-900: #60351c;
  --color-gold-950: #361a0c;
}

@layer base {
    html {
        font-family: var(--font-body);
        scroll-behavior: smooth;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-display);
    }
}